@mixin button($color: green) {
  min-height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  & i {
    font-size: 18px;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus {
    border: 2px solid #1A73E8;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}